/* GLOBAL STYLES */

@font-face {
    font-family: dpcomic;
    src: url(/Fonts/dpcomic/dpcomic.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  }
  
.h1special {
    /* padding-top: 5em; */
    position: fixed; 
    /* transform: translate(-40%, -40%); */
    letter-spacing: 0.65vw;
    text-align: center;
    font-size: 4.88vw;
    color: #faebd7;  
    font-family: dpcomic;  
}

cursor {
    border-right: .05em solid #ff9966;
    animation: caret 1s step-end infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  

/* .pattern {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: #121212; 
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
   */
/* 
.pattern {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;

    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  } */
  .pattern {
    width: 100%;
    height: 100%;
    background-color: #191a1a;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 1.95vw 1.95vw;
    background-position: -0.32vw -0.32vw
  }

.card {
  -webkit-transition:450ms ease-in-out;
	-moz-transition:450ms ease-in-out;
	-o-transition:450ms ease-in-out;
	-ms-transition:450ms ease-in-out;
	transition:450ms ease-in-out;
  /* cursor:pointer; */
  overflow: visible;
  }
.card .Font{
  font-family: dpcomic;
  color: #faebd7;   
  text-align: center;
  }
.card .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 0.65vw 0.65vw #000000ee;
    border-radius: 0.35vw;
  }
  
.card .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 0.32vw;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  
.card .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 10.41vw;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
.card .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 0.32vw;
    color: white;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }
  

  
@keyframes fadeoutAniamtion{
    to {opacity: 0;}
  }
  @keyframes fadeinAniamtion{
    to {opacity: 1;}
  }
  
@keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  

  
.card .title {
  color: #faebd7;
  font-family: dpcomic;
  max-width: 90%;
  display: flex;
  }
  
  .button-container {
    position: absolute;
    bottom: 0px;
    display: flex;
  }
  
  .btn {
    background-color: #151515;
    padding: 0.9vw 0.52vw;
    color: #faebd7;
    text-transform: uppercase;
    letter-spacing: 0.13vw;
    cursor: pointer;
    /* border-radius: 0.65vw; */
    border: 0.13vw dashed #ff9966;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0.13vw 0.32vw -0.065vw, rgba(0, 0, 0, 0.3) 0px 0.065vw 0.19vw -0.065vw;
    transition: 0.4s;
   }
   
   .btn span:last-child {
    display: none;
   }
   
   .btn:hover {
    transition: 0.4s;
    border: 0.13vw dashed #ff9966;
    background-color: #faebd7;
    color: #ff9966;
   }
   
   .btn:active {
    background-color: #d7835a;
   } 
  